body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f4f6f9;
}

/* Navbar */
.navbar {
    background: #0f172a;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.navbar a:hover {
    color: #38bdf8;
}

/* Hero Section */
.hero {
    background: linear-gradient(to right, #0f172a, #1e293b);
    color: white;
    padding: 60px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    font-size: 18px;
}

/* Services */
.services {
    padding: 40px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 25px;
    margin: 15px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}

/* Footer */
.footer {
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 15px;
}